.side_bar
  .user-name
    .user-name__box
      .user-name__box__name
        masa
      .user-name__box__icon
        = link_to "#", class: "user-name__box__icon__btn__edit" do
          = icon('far', 'edit')
        = link_to "#", class: "user-name__box__icon__btn__cog" do
          = icon('fas', 'cog')
  .group-list
    .post
      .post__name
        techcamp
      .post__message
        まだメッセージはありません
    .post
      .post__name
        techcamp
      .post__message
        まだメッセージはありません
    .post
      .post__name
        techcamp
      .post__message
        まだメッセージはありません
